<h1>Important: Your Notenest Account Will Be Deactivated Soon</h1>

<p>Hi <%= @user.first_name %>,</p>

<p>This is an important notice regarding your Notenest account.</p>

<p>The version you are accessing is a project mode which will deactivate user accounts after 1-2 days of user creation unless given privileged access.</p>

<p>Your account will be automatically deactivated in the next day or two. If you have been granted special access, you can ignore this message.</p>

<p>Thank you for trying out Notenest!</p>

